
{% extends 'base.html.twig' %}

{% block body %}
<input type="hidden" id="contract-id" value="{{contract.id}}">
<section style="margin-top: 200px;">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{{ path('main_route') }}">Accueil</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{contract.title}}</li>
                    </ol>
                  </nav>

            </div>
        </div>



        <div class="row">


            <div class="col-12 mt-3 mb-5">
                <div class="progress">
                    <div class="progress-bar contract-progress"   steps="{{ contract.contractPages | length }}" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>


            <div class="col-md-4">
                {% for page in contract.contractPages %}


                <!-- display properties inputs -->
                
                    <div {% if loop.index == 1 %}
                    class="step-{{loop.index}} contract-step"
                    {% else %}
                    class="step-{{loop.index}} contract-step hidden"
                    {% endif %}>
                        {% for input in page.contractPageProperties %}

                        <div class="form-group mb-3">
                            <label for="">{{ input.feildName }}</label>
                            <input type="{{input.type}}" class="form-control contract-input" target="{{input.feildID}}">

                        </div>
                    {% endfor %}
                    

                    </div>

                {% endfor %}

 
                {% if contract.contractPages | length != 1 %}
                <button class="btn btn-secondary previous-properties-step">Précédent</button>
                    

                <button class="btn btn-primary next-properties-step" steps="{{ contract.contractPages | length }}">Suivant</button>


                

                {% if app.user != null %}
                    <button class="btn btn-success print-doc" style="display: none;" > Accéder à votre document</button>
                    {% else %}
                    <div class="card mt-3">
                        <div class="card-body">
                            <p class="text-muted">
                                Afin d'obtenir votre document, veuillez d'abord <a href="{{ path('app_login') }}">vous connecter</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    
                    
                {% else %}
                    {% if app.user != null %}
                    <button class="btn btn-success print-doc"  > Accéder à votre document</button>
                    {% else %}
                        <div class="card mt-3">
                            <div class="card-body">
                                <p class="text-muted">
                                    Afin d'obtenir votre document, veuillez d'abord <a href="{{ path('app_login') }}">vous connecter</a>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}


                <div class="alert alert-info mt-3 loader-alert " style="display: none;">
                    Veuillez patienter, enregistrement de votre document...
                </div>
                <div class="alert alert-success mt-3 success-alert " style="display: none;">
                    Votre document est enregistré avec succès, vous pouvez toujours le retrouver dans votre profile. <br>
                    Impression de document
                </div>
                <div class="alert alert-danger mt-3 error-alert " style="display: none;">
                    Une erreur s'est produite. Veuillez réessayer
                </div>
                


            </div>
            <div class="col-md-8">
                

            
                <div id="contract-zone">
                    {% for page in contract.contractPages %}
                    {{ page.content | raw }}
                    {% endfor %}
                </div>
               

                
            </div>
            
        </div>

    </div>

</section>

{% endblock %}